
.multi-increment-input {
    float: left;
    padding-bottom: .75rem;
    width: 100%;
}
.multi-increment-button {
    float: left;
}
.multi-increment-delete {
    float: right;
}
.team-list {
    padding-bottom: 1rem;
}
.player-input {
    padding-right: 0;
}
.player-button {
    padding-left: 0;
}