@import "../../../include.scss";

.user-status {
    display: inline-block;

    .user-name {}
    .user-action {
        padding-right: .25rem;
    }
}
.header {
    background-color: $banette;
    border-bottom: 1px solid $banette-zipper;
}
