@import "../../../include.scss";

.user-status {
    display: inline-block;

    .user-name {}
    .user-action {
        padding-right: .25rem;
    }
}
.header {
    background-color: $banette;
    box-shadow: 0 -0.4rem 0.9rem 0.2rem;
}
