// Color definitions

$banette: white; // Header bg color
$banette-zipper: black; // Header bottom border

$haunter: white; // Menu bg color
$haunter-thumb: black;

$mismagius: rgba(0, 0, 0, 0.25); // Overlay bg color

$drifblim: #888; // User-configured Titles color
