/* You can add global styles to this file, and also import other style files */
@import "_include.scss";

.app-title {
    display: inline-block;
}
.app-menu {
    width: 300px;
    z-index: 1030;
    position: relative;
    top: 58px;
    padding: 1.25rem;
    border: 1px solid $haunter-thumb;
    border-top: none;
    border-left: none;
    background-color: $haunter;
}
.app-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 100vh;
    background-color: $mismagius;
    z-index: 900;
}