@import "../../../_include.scss";

.form-title {
    margin-bottom: .75rem;
}
.multi-increment-input {
    width: 80%;
    margin-right: .5rem;
    float: left;
    padding-bottom: .75rem;
}
.multi-increment-button {
    float: left;
}
.multi-increment-delete {
    float: right;
}
.pve-form-title {
  display: block;
  width: 100%;
}
.mechanic-selection {
  padding: 1rem;
}
.form-full {
  width: calc(100% + 10px);
}
.form-buttons {
  width: 100%;
  > .form-buttons-two {
    width: 50%;
    float: left;
    &:last-child {
      padding-left: 5px;
    }
  }
  > .form-buttons-three {
    width: 33%;
    float: left;
    &:not(:first-child) {
      padding-left: 5px;
    }
  }
}
.pod-division-name-title {
    color: $drifblim;
    font-weight: 400;
}
@media (max-device-width: 480px) {
  .mechanic-selection {
    width: 100%;
    padding-right: 0 !important;
  }
}
