.versus-mode-container {
    text-align: center;
    padding: 0.25rem;
}
.versus-mode {
    font-size: 1.2rem;
    font-weight: 800;
}
.pve-form-title {
    display: block;
    width: 100%;
}
.mechanic-selection {
    padding: 1rem;
}
.form-full {
    width: 100%;
}
.form-buttons {
    width: 100%;
}
@media (max-device-width: 480px) {
    .mechanic-selection {
        width: 100%;
        padding-right: 0 !important;
    }
}